<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.iotek.mapper.StudentMapper">
    <insert id="insertStu" parameterType="student">
        insert into student(name,password,salt) values (#{name},#{password},#{salt})
    </insert>
</mapper>